.chat-box {
  flex: 1;
  position: relative;
}

.chat-box-header {
  height: 50px;
  line-height: 50px;
}

.chat-box-header__nickname {
  padding-left: 20px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

.chat-box-content {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 130px;
  padding: 20px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.chat-box-input {
  position: absolute;
  bottom: 0;
  width: 100%;

  .input-textarea {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    font-size: 12px;
    color: #333;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    background-color: #fafafa;
    &:focus {
      background-color: #fff;
    }
  }
}

.chat-record-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;

  .record-item__avatar {
    margin-right: 15px;
  }

  .record-item__name {
    font-size: 12px;
  }

  .record-item__text {
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
    border-radius: 0 10px 10px 10px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 15px 0;
      border-color: transparent #fff transparent transparent;
      position: absolute;
      top: 0;
      left: -5px;
    }
  }
}

.chat-record-item__mine {
  flex-direction: row-reverse;
  .record-item__avatar {
    margin-right: 0;
    margin-left: 15px;
  }

  .record-item__name {
    text-align: right;
  }

  .record-item__text {
    border-radius: 10px 0 10px 10px;
    &::before {
      border-width: 0 0 15px 7px;
      border-color: #fff #fff transparent #fff;
      left: unset;
      right: -6px;
    }
  }
}

.emoji-wrapper {
  position: relative;
  .emoji-list {
    position: absolute;
    width: 308px;
    background: #fff;
    transform: translate(-50%, -110%);
    padding: 4px;
    border-radius: 4px;
  }
  
  .emoji {
    width: 24px;
    padding: 2px;
    cursor: pointer;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}
