.red {
  .im-header {
    background: #e45050;
    border: 1px solid transparent;
    .top-search {
     .search-box {
       background: #fff;
       color: #a6b5d7;
       border: 1px solid transparent;
     }
      button{
        background: #fff;
        color: #a6b5d7;
      }
    }
    .im-tools-item:hover .btn {
       color: #fff;
    }
    .im-tab-item {
      &:hover .btn {
        color: #fff;
      }
      .ti-arrow {
        color: #fff;
      }
    }
    .btn {
      background: transparent;
      color: #d1dce4;
    }
    .active .btn{
      color: #fff;
    }
  }
  .middle{
    background: #363e47;
    border-right: 1px solid #ccc;
    .list{
      .list-item{
        &:hover, &.current{
          background: #2f363e;
        }
      }
      .user{
        .username {
          color: #fff;
        }
        .message{
          color: #afa0a8;
        }
      }
      .time{
        color: #afa0a8;
      }
    }
    .chat-close:hover {
      background: #e45050;
    }
  }
  .im-contacts {
    .contact-left {
      background: #363e47;
      color: #fff;
    }
    .contact-tab {
      border-bottom: 1px solid #2f363e;
    }
    .concat-item {
      .line {
        border-bottom: 2px solid transparent;
      }
      &:hover>.line, &.active>.line {
        border-bottom: 2px solid #e45050;
      }
    }
  }
  .contact-card .cc-send {
    background: #e45050;
  }
  .friends {
    &-group:hover{
      background: #2f363e;
    }
    .fg-item:hover {
      background: #363e47;
    }
  }
  .gg-list {
    .gg-item:hover {
      background: #2f363e;
    }
  }
  .chat-box{
    .tool-bar-item:hover{
      color: #e45050important;
    }
    .send-btn {
      background: #e45050;
      color: #fff;
      &:hover {
        background: #f95656;
      }
    }
  }
}
.white {
  .im-header {
    background: #fff;
    border: 1px solid #ccc;
    .top-search {
     .search-box {
       background: #fff;
       color: #a6b5d7;
       border: 1px solid #999;
     }
      button{
        background: #fff;
        color: #999;
      }
    }
    .im-tools-item:hover .btn {
       color: #e45050;
    }
    .im-tab-item {
      &:hover .btn {
        color: #e45050;
      }
      .ti-arrow {
        color: #e45050;
      }
    }
    .btn {
      background: transparent;
      color: #999;
    }
    .active .btn{
      color: #e45050;
    }
  }
  .middle{
    background: #fff;
    border-right: 1px solid #ccc;
    .list{
      .list-item{
        &:hover, &.current{
          background: #f5f5f5;
        }
      }
      .user{
        .username {
          color: #363e47;
        }
        .message{
          color: #363e47;
        }
      }
      .time{
        color: #363e47;
      }
    }
    .chat-close:hover {
      background: #e45050;
    }
  }
  .im-contacts {
    .contact-left {
      background: #fff;
      color: #363e47;
      border-right: 1px solid #ccc;
    }
    .contact-tab {
      border-bottom: 1px solid #2f363e;
    }
    .concat-item {
      .line {
        border-bottom: 2px solid transparent;
      }
      &:hover>.line, &.active>.line {
        border-bottom: 2px solid #e45050;
      }
    }
  }
  .contact-card .cc-send {
    background: #e45050;
  }
  .friends {
    &-group:hover{
      background: #f5f5f5;
    }
    .fg-item:hover {
      background: #d5d5d5;
    }
  }
  .gg-list {
    .gg-item:hover {
      background: #f5f5f5;
    }
  }
  .chat-box{
    .send-btn:hover {
      background: #e7e7e7;
    }
  }
}
.blue {
  .im-header {
    background: #1d93ec;
    border: 1px solid transparent;
    .top-search {
     .search-box {
       background: #fff;
       color: #a6b5d7;
       border: 1px solid transparent;
     }
      button{
        background: #fff;
        color: #a6b5d7;
      }
    }
    .im-tools-item:hover .btn {
       color: #fff;
    }
    .im-tab-item {
      &:hover .btn {
        color: #fff;
      }
      .ti-arrow {
        color: #fff;
      }
    }
    .btn {
      background: transparent;
      color: #d1dce4;
    }
    .active .btn{
      color: #fff;
    }
  }
  .middle{
    background: #fafafa;
    border-right: 1px solid #ccc;
    .list{
      .list-item{
        &:hover, &.current{
          background: #ebebec;
        }
      }
      .user{
        .username {
          color: #363e47;
        }
        .message{
          color: #363e47;
        }
      }
      .time{
        color: #363e47;
      }
    }
    .chat-close:hover {
      background: #1d93ec;
    }
  }
  .im-contacts {
    .contact-left {
      background: #fff;
      color: #363e47;
      border-right: 1px solid #ccc;
    }
    .contact-tab {
      border-bottom: 1px solid #2f363e;
    }
    .concat-item {
      .line {
        border-bottom: 2px solid transparent;
      }
      &:hover>.line, &.active>.line {
        border-bottom: 2px solid #1d93ec;
      }
    }
  }
  .contact-card .cc-send {
    background: #1d93ec;
  }
  .friends {
    &-group:hover{
      background: #f5f5f5;
    }
    .fg-item:hover {
      background: #d5d5d5;
    }
  }
  .gg-list {
    .gg-item:hover {
      background: #f5f5f5;
    }
  }
  .chat-box{
    .tool-bar-item:hover{
      color: #1d93ec!important;
    }
    .send-btn {
      background: #1d93ec;
      color: #fff;
      &:hover {
        background: #2c9ff7;
      }
    }
  }
}